{
  "extends": "airbnb",
  "rules": {
    "arrow-parens": 0,
    "arrow-body-style": 0,
    "linebreak-style": 0,
    "comma-dangle": 0
  },
  "globals": {
    "window": true,
    "document": true,
    "it": true,
    "test": true,
    "expect": true,
  }
}
