.AddProject, .AddBounty {
  .deleteImage {
    float: right;
    color: red;
    opacity: 0.35;
    transition: all 0.2s linear;
    cursor: pointer;
  }

  .formScroll {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 50vh;
  }

  .grommetux-form-field:hover {
    .deleteImage {
      opacity: 1;
    }
  }

  .grommetux-split__column--fixed {
    height: inherit !important;
  }

  .editProjectIcon {
    display: none !important;
  }

  .grommetux-button {
    margin: 10px 3px;
  }
}
