@import "./variables.scss";

.Message {
  .time {
    margin: 10px 0 0;
    font-size: 14px;
    color: gray;

    &.sender {
      text-align: right;
    }
  }


  .Main {
    width: auto;
    margin: 10px 0;
    margin-top: 0;
    word-wrap: break-word;
    padding: 10px;
    padding: 5px 12px;

    .message {


    }

    .name {

    }

    &.Sender {
      background-color: $brand;
      color: white;
      margin-left: 225px;

      .name {
        text-align: right;
      }

    }

    &.Reciever {
      background-color: rgb(226, 226, 226);
      margin-right: 255px;
    }
  }

}
