@import './variables.scss';

$background: rgba(248,248,248,0.98);

.grommetux-button--focus {
  border: 0 !important;
  box-shadow: none !important;
}

.grommetux-drop.droptop {
  border-radius: 0 !important;
  background-color: transparent !important;

  .notifications__drop {

    .grommetux-menu__control {
      border: 0 !important;
    }

    .grommetux-button__icon, .grommetux-menu__contents {
      background-color: $background;
    }

    .grommetux-list {
      width: 250px;
      max-height: 300px;
      * {
        cursor: default;
      }
    }
  }

}

.NavBar {
  .grommetux-button {
    border: 0 !important;
    box-shadow: none !important;
  }

  .grommetux-button__icon {
    border: 0;
  }

  .SearchInput {
    border: 0px;
  }
  .SearchIcon {
    border-left: 0px;
  }

  .notifications {
    &.dot::after {
      content: '\25CF';
      color: red;
      top: 0;
      left: 55%;
      position: absolute;
      pointer-events:none;
      z-index: 999;
    }
  }
}

.LoginBox {
  .grommetux-form-field {
    overflow: hidden;
  }
  .inactiveLink {
    pointer-events: none;
    cursor: default;
  }
}
