@import './variables.scss';

.LoginBox {
  .grommetux-form-field {
    overflow: hidden;
  }
  .inactiveLink {
    pointer-events: none;
    cursor: default;
  }
}

.grommetux-form-field {
  overflow: hidden;
}
