@import './variables.scss';

$background: rgba(248,248,248,0.98);

.grommetux-button--focus {
  border: 0 !important;
  box-shadow: none !important;
}

.grommetux-drop.droptop {
  border-radius: 0 !important;
  background-color: transparent !important;

  .dotDiv {
    display: none;
  }

  .Notifications__drop {

    .grommetux-menu__control {
      border: 0 !important;
    }

    .grommetux-button__icon, .grommetux-menu__contents {
      background-color: $background;
    }

    .grommetux-list {
      width: 250px;
      max-height: 300px;
      * {
        cursor: default;
      }
    }
  }

}

.Notifications {
  .grommetux-button {
    border: 0 !important;
    box-shadow: none !important;
  }

  .grommetux-button__icon {
    border: 0;
  }

  .SearchInput {
    border: 0px;
  }
  .SearchIcon {
    border-left: 0px;
  }

  &.dot {
    .dotDiv {
      background-color: red;
      color: white;
      top: 5px;
      left: 55%;
      position: absolute;
      pointer-events:none;
      z-index: 999;
      font-size: 12px;
      font-weight: 900;
      border-radius: 100px;
      line-height: 1.0em;
      padding: 0.10em 0.34em 0.13em 0.36em;
      display: block !important;
    }
  }
}
