.Projects {
  .grommetux-card__thumbnail {
    max-height: 300px;
    width: auto !important;
  }

  // .grommetux-carousel img {
  //   max-height: 300px;
  //   width: auto !important;
  // }
}

#SearchBar {
  border: 0px;
  padding-right: 0px;
}
