@import './variables.scss';

.ProjectCard {
  .grommetux-card__thumbnail {
    max-height: 300px;
    width: auto !important;
  }

  .stack {
    margin-bottom: 25px;

    &>div {
      display: inline-block;
      background-color: $brand;
      color: white;
      margin-right: 10px;
      padding: 0px 8px 3px;
      font-weight: 600;
      margin-top: 10px;
    }
  }

  .grommetux-carousel {
    height: 284px;
    .grommetux-button__icon, .grommetux-carousel__controls .grommetux-button {
      transform: scale(0.5);
    }

    .grommetux-carousel__controls {
      display: none;
    }

    .grommetux-control-icon {
      stroke: $brand;
    }

    .grommetux-button:hover .grommetux-control-icon polyline {
      stroke: black;
    }
  }
}

#SearchBar {
  border: 0px;
  padding-right: 0px;
}
