.Projects {
  &.isProfileOwner {
    & > .grommetux-tiles {
      &:after {
        content: '';
        flex: 0 0 384px;
      }
    }
    .editProjectIcon {
      display: inline-block !important;
    }
  }
}
